body {
  margin: 0;
}

a {
  text-decoration: none;
}

.ea3-breadcrumb {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.breadcrumb {
  margin: 0;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  background: #f4f5f6;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '>';
  padding: 0 0.5em;
  color: #6c757d;
}

.breadcrumb-item a {
  color: #0070d2;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.breadcrumb-item a:hover {
  text-decoration: underline;
}

.breadcrumb-item.active {
  color: #6c757d;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.2px;
}

.ea3-request-heading {
  padding: 12px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
}

.ea3-request-heading .ea3-top-heading {
  margin: 4px 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.ea3-request-heading .ea3-top-heading h2 {
  color: #1b1c1d;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.32px;
  margin: 0;
}

.ea3-btn-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ea3-outlineBtn {
  border-radius: 16px;
  padding: 6px 24px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #0070d2;
  background-color: #fff;
  border: 1px solid #0070d2;
}

.ea3-outlineBtn:hover {
  color: #fff;
  background-color: #0070d2;
  transition: 0.5s ease-in-out;
}

.ea3-primaryBtn {
  border-radius: 16px;
  padding: 6px 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background-color: #0070d2;
  border: 1px solid #0070d2;
  cursor: pointer;
}

.ea3-request-content {
  padding: 25px 40px;
}

.ea3-table-grid {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.ea3-table-grid th {
  padding: 8px 16px;
  text-align: left;
  border-bottom: 2px solid #ebebeb;
  border-top: 2px solid #ebebeb;
}

.ea3-table-grid td {
  padding: 10px 16px;
  text-align: left;
  border-bottom: 2px solid #ebebeb;
  border-top: 2px solid #ebebeb;
}

.ea3-table-grid th {
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #1b1c1d;
}

.ea3-table-grid td {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #606162;
}
.ellipsis-text {
  max-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ea3-table-grid tr:nth-child(even) {
  background-color: #f4f5f6;
}

.ea3-check-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ea3-edit-text,
.ea3-minimise-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ea3-edit-text .ellipsis-text,
.ea3-minimise-content .ellipsis-text {
  max-width: 145px;
}
.badge {
  border-radius: 4px;
  padding: 4px 6px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-wrap: nowrap;
}

.inprogress-badge {
  background-color: #ffe6bd;
  color: #1b1c1d;
}
.complete-badge {
  background-color: #ddf2d8;
  color: #1b1c1d;
}
.cancel-badge {
  background-color: #ffdad8;
  color: #1b1c1d;
}

.actions {
  text-align: center;
}

.actions a {
  text-decoration: none;
  color: #606162;
  font-size: 18px;
}
.hidden {
  display: none;
}
.ea3-table-grid input[type='checkbox'] {
  border-radius: 0.25em;
  width: 16px;
  height: 16px;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-print-color-adjust: exact;
  border: 1px solid #d6d6d6;
}
.ea3-table-grid input[type='checkbox']:checked {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%23ffffff" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>');
  background-color: #0070d2;
  border-color: #0070d2;
}
.down-chevrons {
  cursor: pointer;
}
.ellipsis-toggle {
  text-wrap: wrap;
  text-overflow: inherit;
  overflow: visible;
}

/* Modal styles start here */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: transform 0.5s ease-in-out;
}

.ea3-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 48px;
  border-radius: 4px;
  max-width: 585px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.ea3-modal-content span.ea3-ea-batch {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #1b1c1d;
  background-color: #ebebeb;
  border-radius: 4px;
  padding: 4px 6px;
  margin-bottom: 16px;
}

.ea3-modal-content .close:hover,
.close:focus {
  color: #0070d2;
  text-decoration: none;
  cursor: pointer;
}
.ea3-modal-content h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #1b1c1d;
  padding-top: 16px;
  width: 75%;
  margin: 0 auto;
}
.ea3-modal-content h3 span {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #0070d2;
  background-color: #d7eafc;
  padding: 4px;
}
.ea3-modal-content p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1b1c1d;
  padding-top: 48px;
  padding-bottom: 8px;
}
.ea3-modal-content .ea3-intent-options {
  display: grid;
  gap: 8px;
  padding-bottom: 24px;
}

.ea3-modal-content .ea3-intent-options .ea3-action-buttons {
  padding: 16px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background-color: #ffffff;
  display: flex;
  gap: 12px;
  align-items: flex-start;
  cursor: pointer;
  flex-direction: column;
}
.ea3-modal-content .ea3-intent-options .ea3-action-buttons p.ea3-action-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #606162;
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}
.ea3-modal-content .ea3-action-buttons {
  display: inline-flex;
  gap: 10px;
}
.ea3-modal-content .ea3-action-buttons a.ea3-modal-continue {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  padding: 6px 24px;
  background-color: #0070d2;
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
}
.ea3-modal-content .ea3-intent-options .ea3-action-buttons.active {
  border: 1px solid #0070d2;
  box-shadow: 0 0 0 1px #0070d2;
}

/* Modal styles start here */

#requestModal .ea3-modal-content {
  padding: 0;
  margin: 0;
  text-align: left;
}

.icon-down-chevrons {
  background-color: transparent;
  border: none;
  width: 16px;
  height: 16px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"><path d="m8 12.455-6.27-6.88a.499.499 0 1 1 .74-.67L8 10.97l5.53-6.065a.499.499 0 1 1 .74.67L8 12.45v.005Z" fill="%231B1C1D"/></svg>');
  background-repeat: no-repeat;
  cursor: pointer;
}

.ea3-maximize-content .ellipsis-text {
  white-space: inherit;
  overflow: inherit;
  text-overflow: inherit;
}

h3.ea3-entry-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #1b1c1d;
  margin: 0;
  padding: 12px 0;
}
.ea3-table-filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}

.ea3-search {
  position: relative;
}
.ea3-search input {
  width: 240px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  padding-left: 40px;
}

.ea3-search .ea3-search-btn {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"><path d="m13.755 13.11-2.88-2.88a5.338 5.338 0 0 0-.37-7.135 5.341 5.341 0 0 0-7.545 0 5.342 5.342 0 0 0 0 7.545 5.315 5.315 0 0 0 3.77 1.56c1.225 0 2.445-.42 3.435-1.255l2.875 2.875c.1.1.225.145.355.145a.498.498 0 0 0 .355-.85l.005-.005ZM3.67 9.93a4.34 4.34 0 0 1 0-6.13 4.318 4.318 0 0 1 3.065-1.265c1.11 0 2.22.42 3.065 1.265a4.34 4.34 0 0 1 0 6.13 4.34 4.34 0 0 1-6.13 0Z" fill="%231B1C1D"/></svg>');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  border: none;
}
.ea3-btns-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  border-radius: 4px;
}

.ea3-btns-group .btn {
  position: relative;
  flex: 1 1 auto;
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid transparent;
  background-color: transparent;
  color: #0070d2;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}
.btn.btn-outline-primary {
  border-color: #0070d2;
}
.btn.btn-outline-primary:hover,
.btn.btn-outline-primary.active {
  background-color: #0070d2;
  color: #fff;
}

.ea3-btns-group > .ea3-btns-group:not(:first-child) > .btn,
.ea3-btns-group > .btn:nth-child(n + 3),
.ea3-btns-group > :not(.btn-check) + .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ea3-btns-group > .ea3-btns-group:not(:last-child) > .btn,
.ea3-btns-group > .btn.dropdown-toggle-split:first-child,
.ea3-btns-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ea3-btns-group > .ea3-btns-group:not(:first-child),
.ea3-btns-group > :not(.btn-check:first-child) + .btn {
  margin-left: calc(1px * -1);
}
.align-items-end {
  align-items: flex-end !important;
}
/* ----pagination css start---- */
.pagination-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}
.sorting-wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}
.sorting-wrapper .result-count {
  font-size: 14px;
  font-weight: 400;
  color: #606162;
}
.sorting-wrapper select.orderby {
  border-radius: 4px;
  border: 1px solid #d6d6d6;
  padding: 10px 30px 10px 15px;
  font-size: 14px;
  color: #1b1c1d;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path d="M9.00005 14.0126L1.9463 6.27263C1.73818 6.042 1.75505 5.68763 1.98568 5.4795C2.2163 5.27138 2.57068 5.28825 2.7788 5.51888L9.00005 12.342L15.2213 5.51888C15.4294 5.28825 15.7894 5.27138 16.0144 5.4795C16.245 5.68763 16.2619 6.042 16.0538 6.27263L9.00005 14.007V14.0126Z" fill="%23606162"/></svg>')
    no-repeat right 10px center;
  background-size: 16px;
}
.sorting-wrapper select.orderby:focus {
  outline: none;
}
ul.pagination {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 8px;
}
.pagination li button {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d6d6d6;
  padding: 8px 10px;
  font-size: 16px;
  color: #606162;
  text-align: center;
  min-width: 40px;
  min-height: 38px;
  cursor: pointer;
}

.pagination li.prev-page-last button,
.pagination li.next-page-last button {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.168 2.47 9.55 8l6.617 5.53c.223.186.24.5.038.706a.579.579 0 0 1-.77.035L7.937 8l7.5-6.27a.58.58 0 0 1 .77.035.47.47 0 0 1-.038.705Zm-6.835 0L2.717 8l6.61 5.53c.224.186.24.5.039.706a.579.579 0 0 1-.77.035L1.097 8l7.506-6.27a.58.58 0 0 1 .77.035.47.47 0 0 1-.039.705Z" fill="%23606162"/></svg>');
  background-repeat: no-repeat;
  background-position: center center;
}
.pagination li.next-page-last button {
  transform: rotate(180deg);
}

.pagination li.prev-page button,
.pagination li.next-page button {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"><path d="M10.735 14.4a.504.504 0 0 1-.335-.13L3.52 8l6.88-6.27a.499.499 0 1 1 .67.74L5.004 8l6.064 5.53a.499.499 0 0 1-.335.87Z" fill="%23606162"/></svg>');
  background-repeat: no-repeat;
  background-position: center center;
}
.pagination li.next-page button {
  transform: rotate(180deg);
}

.pagination li button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
  background-color: #ebebeb;
}
.pagination li button.active {
  background-color: #0070d2;
  border-color: #0070d2;
  color: #fff;
}
/* ----pagination css end---- */
.table_scroll {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #ddd transparent;
}

.table_scroll::-webkit-scrollbar {
  height: 5px;
}

.table_scroll::-webkit-scrollbar-track {
  background: transparent;
}

.table_scroll::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 10px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
