*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* css start here */

.ea3-migration-container{
    padding: 0 40px;
}

.ea3-migration-container .ea3-migration-header{
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EBEBEB;
}
.ea3-migration-container .ea3-migration-header h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #1b1c1b;
    display: flex;
    align-items: center;
    gap: 12px;
}
.ea3-migration-container .ea3-migration-header h2 .ea3-aero-down{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 6px;
}


.ea3-migration-container .ea3-migration-header  .ea3-migration-button-group a.ea3-back {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 24px;
    border-radius: 16px;
    border: 1px solid #0070d2;
    background: transparent;
    color: #0070d2;
   text-decoration: none;
}
.ea3-migration-container .ea3-migration-header  .ea3-migration-button-group a.ea3-publish-production {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 24px;
    border-radius: 16px;
    border: 1px solid #EBEBEB;
    background: #EBEBEB;
    color: #8E8E8E;
   text-decoration: none;
   margin-left: 4px;
}


.ea3-migration-container .alert-primary {
    background-color: #f0f7fc;
}
.ea3-migration-container .ea3-alert1 {
    padding: 16px;
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 24px;
    border-left: 1px solid #1990fa;
}
.ea3-migration-container .ea3-alert1 p {
    color: #1b1c1d;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

.ea3-migration-container .ea3-upgrade-content{
    color: #1b1c1d;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 24px;
}
.ea3-migration-container .ea3-table-searchbar{
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ea3-migration-container .ea3-searchbar{
    border: 1px solid #d6d6d6; 
    border-radius: 4px;
    width: fit-content;
    overflow: hidden;
    padding: 0 16px;
    background-color: #EBEBEB;
}
.ea3-migration-container .ea3-searchbar .ea3-dropdown{
    color: #8E8E8E;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
}
.ea3-migration-container .ea3-searchbar .ea3-dropdown .ea3-aero-down{
    padding-left: 4px;
    padding-right: 12px;
    border-right: 1px solid #D6D6D6; 
}

.ea3-migration-container .ea3-search {
    position: relative;
    display: inline-block;
}
.ea3-migration-container .ea3-search .fa-search {
    position: absolute;
    top: 0px;
    padding-left: 8px;
    right: auto;
    bottom: 0;
    align-items: center;
    display: flex;
    cursor: pointer;
}
.ea3-migration-container .ea3-search input {
    width: 278px;
    height: 40px;
    background: #ffffff;
    border: 1px solid transparent;
    padding-left: 34px;
    background: transparent;
}
.ea3-migration-container .ea3-search input:focus-visible {
    outline: none;
}
.ea3-migration-container .ea3-table-searchbar-button-group{
display: flex;
}

.ea3-migration-container .ea3-table-searchbar-button-group button.ea3-validate-proposal {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 24px;
    border-radius: 16px;
    border: 1px solid #EBEBEB;
    background: transparent;
    color: #8E8E8E;
    cursor: pointer;
    margin-left: 4px;
    display: flex;
    align-items: center;
}
.ea3-migration-container .ea3-table-searchbar-button-group button.ea3-validate-proposal .ea3-btn-icon{
    padding-right: 8px;
    display: flex;
}
.ea3-migration-container .ea3-table-searchbar-button-group button.ea3-mappings {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 11px;
    border: 1px solid transparent;
    background: transparent;
    color: #0070D2;
    cursor: pointer;
    margin-left: 4px;
    display: flex;
    align-items: center;
}
.ea3-migration-container .ea3-table-searchbar-button-group button.ea3-mappings .ea3-btn-icon{
    padding-right: 8px;
    display: flex;
}
.ea3-migration-container .ea3-table-searchbar-button-group .ea3-boder-12{
    height: 12px;
    width: 1px;
    background-color: #D6D6D6;
    margin: auto;
}


/* table css */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    text-align: left;
    line-height: 20px;
}

.custom-table thead tr {
    border: 2px solid #ebebeb;
    border-left: 0;
    border-right: 0;
}

.custom-table th, .custom-table td {
    padding: 8px 16px;
}

.custom-table th {
    font-weight: 700;
    border-right: 1px solid #ebebeb;
}
.custom-table tbody td{
    position: relative;
    color: #606162;
    border-right: 1px solid #ebebeb;
}
.custom-table tbody td:hover{
    background-color:#ebebeb;
}
.custom-table tbody .first-column .copy-icon{
    visibility: hidden;
    margin-right: 8px;

}
.custom-table tbody td:hover .first-column .copy-icon{
    visibility: visible;
}
.custom-table .last-row td {
    border-right:0;
}
.custom-table .last-row td:hover {
    background-color: transparent;
}
.custom-table .last-row {
 background: transparent;
}
.custom-table thead tr th:last-child,td:last-child {
    border: 0;
}
.custom-table tbody tr{
    border-bottom: 1px solid #ebebeb;
}
.custom-table tbody tr:nth-child(odd){
    background: #F4F5F6;
}
.custom-table .first-column{
    display: flex;
    justify-content: space-between;
}
 .first-column .drop-down button{
    background:  transparent;
    border: 0;
    cursor: pointer;
}
.custom-table .hide-row{
    display: none;
}
.custom-table .drop-down-menu{
    border-radius: 4px;
    box-shadow: 0px 12px 48px 0px rgba(0, 0, 0, 0.12);
    position: absolute;
    max-height: 294px;
    overflow-y: auto;
    z-index: 99;
    display: none;
    background: #ffffff;
    top: 45px;
    right: 0;
    width: 100%;
}

.custom-table .drop-down-menu .search-input{
    margin: 16px 16px 8px;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    gap: 8px;
}
.custom-table .drop-down-menu .ea3-search {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0 16px;
    margin-top: 16px;
    margin-bottom: 8px;
}
.custom-table .drop-down-menu .ea3-search .fa-search {
    position: absolute;
    top: 0px;
    padding-left: 16px;
    right: auto;
    bottom: 0;
    align-items: center;
    display: flex;
    cursor: pointer;
    
}
.custom-table .drop-down-menu .ea3-search input {
    width: 100%;
    height: 40px;
    background: #ffffff;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    padding-left: 40px;
    padding-right: 14px;
}

.custom-table .drop-down-menu ul{
    margin: 0;
    padding: 0;
}
.custom-table .drop-down-menu ul li{
    list-style: none;
    padding: 10px 16px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400; color: #1b1c1d;
}
.custom-table .drop-down-menu ul li:hover{
    background-color: #F4F5F6;
 }

.add-items-btn {
color: #606162;
border: 0;
padding: 0;
background: transparent;
cursor: pointer;
}

.ea3-migration-container .custom-table input[type="checkbox"] {
    border-radius: 0.25em;
    width: 16px;
    height: 16px;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-print-color-adjust: exact;
    border: 1px solid #d6d6d6;
    margin: -3px 0;
    margin-right: 16px;
  }
  .ea3-migration-container .custom-table input[type="checkbox"]:checked {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%23ffffff" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>');
    background-color: #227bb1;
    border-color: #227bb1;
  }
  .ea3-migration-container .custom-table input[type="checkbox"] {
    border-radius: 0.25em;
    width: 16px;
    height: 16px;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-print-color-adjust: exact;
    border: 1px solid #d6d6d6;
  }
  .ea3-migration-container .custom-table input[type="checkbox"]:checked {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%23ffffff" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>');
    background-color: #227bb1;
    border-color: #227bb1;
  }
  .ea3-action-column {
    display: flex;
    align-items: center;
    gap: 8px;
}
.ea3-action-column button {
    cursor: pointer;
    background: transparent;
    border: 0;
}
.ea3-action-column .ea3-icon-divider {
    width: 1px;
    height: 12px;
    background-color: #d6d6d6;
}
  
/* table css end */
/* css end here */