*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  .ea3-breadcrumb {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    background-color: #e9ecef; 
    border-radius: 0.25rem;
  }
  .breadcrumb {
    margin: 0;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    background: #f4f5f6;
  }
  
  .breadcrumb-item {
    display: flex;
    align-items: center;
  }
  
  .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    padding: 0 0.5em;
    color: #6c757d;
  }
  
  .breadcrumb-item a {
    color: #0070d2;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-decoration: none;
  }
  
  .breadcrumb-item a:hover {
    text-decoration: underline;
  }
  
  .breadcrumb-item.active {
    color: #6c757d;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.2px;
  }
  .ea3-threshold-heading {
    padding: 12px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ebebeb;
  }
  .ea3-threshold-heading .ea3-header-left {
    display: flex;
    gap: 12px;
  }
  .ea3-threshold-heading .ea3-top-heading h2 {
    color:  #1B1C1D;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: -0.32px;
    margin: 0;
  }
  .ea3-btn-group {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .ea3-outlineBtn {
    border-radius: 16px;
    padding: 6px 24px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #0070d2;
    background-color: #fff;
    border: 1px solid #0070d2;
    cursor: pointer;
  }
  .ea3-outlineBtn:hover {
    color: #fff;
    background-color: #0070d2;
    transition: 0.5s ease-in-out;
  }
  .ea3-primaryBtn {
    border-radius: 16px;
    padding: 6px 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    background-color: #0070d2;
    border: 1px solid #0070d2;
    cursor: pointer;
  }
  .ea3-secondaryDisableBtn {
    border-radius: 16px;
    background: #EBEBEB;
    padding: 6px 24px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #8E8E8E;
  }
  .ea3-content-wrapper {
    padding: 24px 40px;
}
  .ea3-primeary-alert {
    padding: 16px;
    background: #F0F7FC;
    margin-bottom: 16px;
    border-left: 2px solid #1990FA;
    display: flex;
    gap: 8px;
    align-items: flex-start;
    font-size: 14px;
font-weight: 400;
line-height: 20px;
color: #1b1c1d;
}


.ea3-buyer-program-form {
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #D6D6D6;
    background: #ffffff;
    max-width: 50%;
    width: 100%;
}
.buyer-program-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.buyer-program-heading h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}


 .ea3-empty-state {
    text-align: center;
    width: 100%;
    max-width: 50%;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #D6D6D6;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
   
    .ea3-empty-state h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    color: #1b1c1d;
   }
   
    .ea3-empty-state p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 8px 0 16px;
    color: #1b1c1d;
   }
   .ea3-buying-programing-attribute-content {
    display: flex;
    gap: 24px;
}

.ea3-validate-proposal {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 24px;
    border-radius: 16px;
    border: 1px solid #EBEBEB;
    background: transparent;
    color: #8E8E8E;
    cursor: pointer;
    margin-left: 4px;
    display: flex;
    align-items: center;
}
.ea3-validate-proposal .ea3-btn-icon {
    padding-right: 8px;
    display: flex;
}


.ea3-btn-link{
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; 
color: #0070d2;
display: flex;
align-items: center;
gap: 8px;
border: none;
background-color: transparent;
cursor: pointer;
}

.form-container {
  max-width: 800px;
  margin: 0 auto;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field label {
  color: #606162;
  font-size: 14px;
  margin-bottom: 6px;
}

.form-input,.form-select {
  border: 1px solid #D6D6D6;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  color: #1B1C1D;

}

.form-select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%23606162' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 22px;
}

.form-row {
  margin-bottom: 16px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 16px;
}






/* ----------------------icons-style-------------------------------- */

.icon-reset 
 {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
}
.icon-reset {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 .283v1.699a7 7 0 1 1-7 7c0-2.062.896-3.909 2.313-5.19l1.122.79a5.656 5.656 0 0 0-2.102 4.4A5.673 5.673 0 0 0 8 14.649a5.673 5.673 0 0 0 5.667-5.667A5.673 5.673 0 0 0 8 3.315v1.698c0 .248-.165.334-.366.191L4 2.645 7.634.092C7.835-.05 8 .035 8 .283Zm1 8.74a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" fill="%230070D2"/></svg>');
}