.ow-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.4;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 6;
  }
  .ow-overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.4;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
.offcanvas-sidebar * {
    box-sizing: border-box;
  }
  .offcanvas-sidebar {
    height: 100%;
    width: 752px;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    transform: translateX(100%);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  }
  .offcanvas-sidebar a {
    font-weight: 100;
    padding: 0 30px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .offcanvas-sidebar .closebtn {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    right: 13px;
    font-size: 40px;
    margin-top: 14px;
  }
  .offcanvas-sidebar .offcanvas-sidebar-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #1b1c1d;
    padding: 22px 24px;
    background-color: #f1f7fd;
    border-bottom: 1px solid #D6D6D6;
  }
  .offcanvas-sidebar-body {
    padding: 20px 30px;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
}
  .ow-heading-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 0 12px 0 ;

  }
  .ow-heading-content h5 {
    color: #1B1C1D;
font-size: 20px;
font-weight: 700;
line-height: 24px;
  }
  .ow-toggle-content {
    display: flex;
    align-items: center;
    gap: 12px;
  }
.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(16px);
  }

  .accordion-button {
    background-color: transparent;
    color: #1b1c1d;
    cursor: pointer;
    padding: 10px 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: background-color 0.4s ease;
    display: flex;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid #EDEDED;
  }
  .accordion-button p {
    color:  #1B1C1D;
font-size: 14px;
font-weight: 400;
line-height: 20px; 
  }
  
  .accordion-button:hover {
    background-color: #F4F5F6;
  }
  
  .accordion-button.active {
    background-color: #F4F5F6;
  }

.accordion-button.active p {
  font-weight: 600;
}
  
  .accordion-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: white;
  }
  .accordion-content span {
    background-color: #fff;
    padding: 12px 0;
    color:  #1B1C1D;
font-size: 14px;
font-weight: 500;
line-height: 20px;
display: block; 
  }
  .accordion-content .ow-accordion-items {
    background-color: #fff;
    padding: 10px 16px;
  }
  .ow-accordion-items input[type="text"] {
    width: 100%;
    border-radius: 20px;
    border: 1px solid #D6D6D6;
    background: #ffffff;
    padding: 10px 16px;
    margin: 10px 0;
  }
  .searchATOLabel {
    display: block;margin-top: -10px;
  }
  .ow-accordion-items .ow-ato-list {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    gap: 8px;
    border-bottom: 1px solid #EDEDED
  }
  .ow-accordion-items .ow-ato-list:hover {
    background-color: #F4F5F6;
  }
  .ow-accordion-items .ow-ato-list p {
    color:  #1B1C1D;
font-size: 14px;
font-weight: 400;
line-height: 20px; 
  }
  .accordion-content .ow-accordion-items p {
    color:  #1B1C1D;
font-size: 14px;
font-weight: 400;
line-height: 20px; 
  }
.ow-sidebar-footer {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: end;
    background: #fff;
    width: 100%;
}
.ow-disabledBtn {
    border-radius: 16px;
    padding: 6px 24px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px; 
    color: #ffffff;
    background-color: #AEB8C1;
    border: 1px solid #AEB8C1;
    cursor: not-allowed;
}
a.ow-primaryBtn {
  border-radius: 16px;
  padding: 6px 24px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; 
  text-decoration: none;
  color: #ffffff;
  background-color: #0070D2;
  border: 1px solid #0070D2;
}
.accordion-button input[type="checkbox"] {
  border-radius: 0.25em;
  width: 16px;
  height: 16px;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-print-color-adjust: exact;
  border: 1px solid #d6d6d6;
}
.accordion-button input[type="checkbox"]:checked {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%23ffffff" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>');
  background-color: #227bb1;
  border-color: #227bb1;
}
.ow-ato-list input[type="checkbox"] {
  border-radius: 0.25em;
  width: 16px;
  height: 16px;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-print-color-adjust: exact;
  border: 1px solid #d6d6d6;
}
.ow-ato-list input[type="checkbox"]:checked {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%23ffffff" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>');
  background-color: #227bb1;
  border-color: #227bb1;
}

.offcanvas-sidebar .sidebar-auto-scroll {
  overflow-y: auto;
}